
#blogbody{
    background-image: url("/IMG/background.jpg");
    background-size: cover;
    text-align: center;
    /* display: flex;
    justify-content: center;
    margin-right:20vw; */
    
    }



nav li {
    list-style: none;
    display: inline-block;
    padding-left: 10px;
    padding-right: 15px;
    
}

nav a {
    text-decoration: none;
    color:orange;
}

nav a:hover{
    color:orangered;
    font-size: larger;
}
    
    
.containera {
    /* width: 60vw;
    height: 100vh; */
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    /* font-size: 20px; */
    display: grid;
    grid-template-columns:repeat(3, 1fr) ;
    /* grid-template-rows: .2fr 1fr 1fr 1fr 100px; */
    gap: 10px;
    padding:10px;
    box-sizing: border-box;
    
    
    }
    
.containera div{
    padding:10px;
    
     /* border: 1px solid black;*/
    
    }
    
.content{
    background-color: rgba(255, 255, 255, 0.502);
    
    }
    
.card{
    border: 1px solid black;
    border-radius: 25%;
}

.card h2{
    text-decoration: underline;
}

.card p{
    text-align:center;
}
.headera {
    background-color: rgba(255, 255, 255, 0.502);
    text-align: center;
    grid-column-start: 1;
    grid-column-end: 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    }
    
.footer{
    background-color: rgba(255, 255, 255, 0.502);
    grid-column-start:1;
    grid-column-end:4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    
    }

.card a {
    color:darkorchid;
}
    

.card a:hover {
    
    color:deeppink;
    font-size: larger;
}

#email{
    width:40px;
}

img{
    width: 300px;
}


#blogh1{
    margin: 20px;
}

/* height:100vh;
    display: grid;
    justify-content: center;
    flex-direction: column;
    grid-template-columns: 50% ;
    grid-template-rows: repeat(9, 1fr) ;
    grid-gap:10px;
    grid-template-areas: 
    "nav"
    "card1"
    "card2"
    "card3"
    "card4"
    "card5"
    "card6"
    "card7"
    "footer";
    border: 1px solid red;
    

.box {
    border: 1px solid yellow;
   
    
    
}

.navbar{
    grid-area: nav;
}

.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.card5 {
    grid-area: card5;
}
.card6 {
    grid-area: card6;
}
.card7 {
    grid-area: card7;
}

.footer {
    grid-area: footer;
}

@media(min-width:900px){
    .container{
        height:100vh;
        display: grid;
        justify-content: center;
        flex-direction: column;
        grid-template-columns: 50% 50% ;
        grid-template-rows: repeat(9, 1fr) ;
        grid-gap:10px;
        grid-template-areas:
        "nav"
        "card1 card2"
        "card3 card4"
        "card5 card6"
        "card7"
        "footer";
    }

    .navbar{
        grid-area: nav;
    }
    
    .card1 {
        grid-area: card1;
    }
    .card2 {
        grid-area: card2;
    }
    .card3 {
        grid-area: card3;
    }
    .card4 {
        grid-area: card4;
    }
    .card5 {
        grid-area: card5;
    }
    .card6 {
        grid-area: card6;
    }
    .card7 {
        grid-area: card7;
    }
    footer {
        grid-area: footer;
    }  
} */