@media(max-width:480px){
    .containera {
        width: 60vw;
        height: 100vh;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        /* font-size: 20px; */
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 100px;
        grid-template-areas:
        "hd"
        "cont1"
        "cont2"
        "cont3"
        "cont4"
        "cont5"
        "cont6"
        "cont7"
        "cont8"
        "cont9"
        "ft";
        gap: 10px;
        padding:10px;
    }

    .headera{
        grid-area: hd;
        grid-column-start:1;
        grid-column-end:2;
        
    }
    .cont{
        grid-area: cont1;
        grid-column-start:1;
        grid-column-end:2;
    }
    .footer{
        grid-area: ft;
        grid-column-start:1;
        grid-column-end:2;
    }
}

@media(min-width:321px) and (max-width:600px){
    .containera {
        width: 60vw;
        height: 100vh;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        /* font-size: 20px; */
        display: grid;
        grid-template-columns:1fr 1fr;
        grid-template-rows: .2fr 1fr 1fr 1fr 1fr 1fr 100px;
        grid-template-areas:
        "hd hd"
        "cont1 cont2"
        "cont3 cont4"
        "cont5 cont6"
        "cont7 cont8"
        "cont9 cont9"
        "ft ft";
        gap: 10px;
        padding:10px;
    }

    .headera{
        grid-area: hd;
        grid-column-start:1;
        grid-column-end:3;
        
    }
    .cont{
        grid-area: cont1;
        grid-column-start:1;
        grid-column-end:3;
    }
    .footer{
        grid-area: ft;
        grid-column-start:1;
        grid-column-end:3;
    }
}