@media(min-width:600px) and (max-width:1230px){
    .containera {
        width: 80vw;
        height: 100vh;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        /* font-size: 20px; */
        display: grid;
        place-items: center;
        grid-template-columns:1fr 1fr;
        grid-template-areas:
        "hd hd"
        "cont1 cont2"
        "cont3 cont4"
        "cont5 cont6"
        "cont7 cont8"
        "cont9 cont9"
        "ft ft";
        gap: 10px;
        padding:10px;
    }

    .headera{
        grid-area: hd;
        grid-column-start:1;
        grid-column-end:3;
        
    }
    .cont{
        grid-area: cont1;
        grid-column-start:1;
        grid-column-end:3;
    }
    .footer{
        grid-area: ft;
        grid-column-start:1;
        grid-column-end:3;
    }
}

@media(max-width:900px){
    .containera {
        width: 80vw;
        height: 100vh;
        font-family: 'Quicksand', sans-serif;
        font-weight: bold;
        /* font-size: 20px; */
        display: grid;
        place-items: center;
        grid-template-columns:1fr;
        grid-template-areas:
        "hd"
        "cont1"
        "cont2"
        "cont3"
        "cont4"
        "cont5"
        "cont6"
        "cont7"
        "cont8"
        "cont9"
        "ft";
        gap: 10px;
        padding:10px;
    }

    .headera{
        grid-area: hd;
        grid-column-start:1;
        grid-column-end:2;
        
    }
    .cont{
        grid-area: cont1;
        grid-column-start:1;
        grid-column-end:2;
    }
    .footer{
        grid-area: ft;
        grid-column-start:1;
        grid-column-end:2;
    }
}


@media(min-width:600px) and (max-width:1230px){
    .containerb {
        /* width:60vw;
        height: 100vh; */
        font-weight: bold;
        
        /* font-size: 20px; */
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
        "hd"
        "auth"
        "soc";
        gap: 10px;
               
        }
}

@media(max-width:900px){
    .containerb {
        /* width:40vw; */
        /* height: 100vh; */
        font-weight: bold;
        
        /* font-size: 20px; */
        display: grid;
        grid-template-columns:400px;
        grid-template-rows: 100px 1fr 100px;
        grid-template-areas: 
        "hd"
        "auth"
        "soc";
        gap: 10px;
               
        }

    img{
        width:250px;
        padding:0px;
        
    }
    .social{
        grid-area: soc;
        border: 2px solid black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 20px;
    }

    .social:hover{
        grid-area: soc;
        border: 2px solid black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        font-size: 25px;
}
